In [1]:
import urllib 
import math
from datetime import date
import re
import time
from IPython.display import clear_output
from datetime import date
import sys
import pandas as pd
import numpy as np
class DataGrapper:
    
    def updateTeams(self,from_year,to_year):
        df = pd.read_csv('teamId.csv',index_col=0)
        teamMatchUrl = 'http://app.gooooal.com/teamAllMatch.do?sid={}&tid={}&t=0&lang=tr'
        teams = df.values
        for i in range(teams.shape[0]):
            thisDf = None
            for year in range(from_year,to_year):
                url = teamMatchUrl.format(year,teams[i,0])
                print(url)
                tdf = pd.read_html(url,attrs={'id':'fb_match_odds_result_table_0_0'},encoding='UTF-8')[0]
                tdf = tdf.drop(df.index[[0]])
                if thisDf is None:
                    thisDf=tdf
                else:
                    thisDf =thisDf.append(tdf)
            print(teams[i,1])
            thisDf.to_csv("teams/"+teams[i,1]+".csv",index=False)

    def getOdds(self,date):
        dateStr = "{}-{}-{}".format(date.year,date.month,date.day)
        print("get {}".format(dateStr))
        url = 'http://info.livescore123.com/1x2/companyhistory.aspx?id=432&company=HK+Jockey+Club'
        data = {'matchdate': dateStr,'Submit': 'Search','key': ""}
        f = urllib.request.urlopen(
                url     = url,
                data    = urllib.parse.urlencode(data).encode('utf8')
            )
        raw= f.read()
        df = pd.read_html(raw,attrs={'class':'schedule'},header=0)[0]
        df = df[df['League'] == 'ENG PR'] 
        df = df [['Home','Away','HW','D','AW']]
        return df 
    def updateOdds(self,greater_than,origin, out_odds):
        footballdata = pd.read_csv(origin)
        footballdata['Date'] = pd.to_datetime(footballdata['Date'],dayfirst=True)
        if 'JocH' not in footballdata:
            footballdata['JocH']=pd.Series(np.zeros(shape=(footballdata.shape[0],)), index=footballdata.index) 
            footballdata['JocD'] = pd.Series(np.zeros(shape=(footballdata.shape[0],)), index=footballdata.index) 
            footballdata['JocA'] = pd.Series(np.zeros(shape=(footballdata.shape[0],)), index=footballdata.index)         
        dates = footballdata['Date'].drop_duplicates()
        dates  = dates[dates > greater_than]
        for indx, d in enumerate(dates):
            clear_output()
            print("{}/{} -- {}".format(indx,dates.shape[0],d))
            sys.stdout.flush()
            odds = None
            err_count =0
            while err_count < 5:
                try:
                    odds = self.getOdds(d)
                    break
                except Exception as e:
                    print (e)
                    time.sleep(3)
                err_count = err_count +1
            tempdf = footballdata[footballdata['Date'] == d]
            tempdf = tempdf.sort(columns='HomeTeam')
            odds = odds.sort(columns='Home')
            tempdf['JocH']= odds['HW'].values
            tempdf['JocD'] = odds['D'].values
            tempdf['JocA'] = odds['AW'].values
           # print(odds)
            footballdata.update(tempdf)
        footballdata.to_csv(out_odds,index=False)
    def readLastestMatches(self):
        url = 'http://bet.hkjc.com/football/odds/odds_had.aspx?ci=en-US'
        content= urllib.request.urlopen(url).read().decode('utf-8')
        #print(content)
        p2 = '<img src="/nas/jcbwinfo/football/info/images/.*?" alt="(.*?)"'
        p1= '<img src="/nas/jcbwinfo/football/info/images/.*?" alt="(.*?)".*?>'
        league = []
        for m in re.finditer(p1,content,flags=re.M):
            league.append(m.group(1))
        df= pd.read_html(url,attrs={'class':'tOdds'},header =0)[1]
        df = df.dropna(subset=['Expected StopSelling Time'])
        df['Unnamed: 1']=league
        ta = df['Teams(Home vs Away)'].values
        print(ta.shape)
        homeAways =[]
        for v in ta:
            homeAways.append([e.strip() for e in (v.split(' vs '))])
        nha = np.array(homeAways)
        df['HomeTeam']=nha[:,0]
        df['AwayTeam']=nha[:,1]
        rawTimes = df['Expected StopSelling Time'].values
        timesStr = [(v.split()[0])+'/2016' for v in rawTimes]
        print(timesStr)
        df['Date'] = pd.to_datetime(timesStr,dayfirst=True)
        df= df[df['Unnamed: 1']=='Eng Premier']
        df["JocH"] =df["Odds"].values
        df["JocD"]= df["Unnamed: 7"].values
        df["JocA"] = df["Unnamed: 8"].values
        df = df[["HomeTeam","AwayTeam","Date","JocH","JocD","JocA"]]
        return df.dropna(subset=['JocD'])
        #TODO: find epl name, -> epl only -> sort name -> return h,a,date,odds

In [18]:
tg = DataGrapper()
tg.updateOdds(date(2014,8,15),"dataSet/E2014.csv","dataSet/E2014odds.csv")

95/96 -- 2015-05-24 00:00:00
get 2015-5-24

In [23]:
df.to_csv("dataSet/future.csv",index=False)

In [2]:
from bs4 import BeautifulSoup
import datetime
import re
def getContentSoup (url):
        count = 0
        content=""
        while(count < 10):
            try:
                content = urllib.request.urlopen(url).read().decode('utf-8')
                break
            except:
                print("re-try")
                time.sleep(5)
                count = count+1
            if count ==10:
                raise Exception("error {}".format(url))
        soup = BeautifulSoup(content,'html.parser')
        return soup
def grapMatchInfo(url):

    from bs4 import BeautifulSoup
    import urllib 
    import math
    from datetime import date
    import datetime
    import re
    import time
    def getContentSoup (url):
        count = 0
        content=""
        while(count < 10):
            try:
                content = urllib.request.urlopen(url).read().decode('utf-8')
                break
            except:
                print("re-try")
                sys.stdout.flush()
                time.sleep(5)
                count = count+1
            if count ==10:
                raise Exception("error {}".format(url))
        soup = BeautifulSoup(content,'html.parser')
        return soup
    
    def summary():
        soup = getContentSoup(url)
        temp = soup.find("div","teams").text.split("\n")[1].split(',')[2:]
        tempstr = " ".join("".join(temp).strip().split(" ")[0:3])
        date = datetime.datetime.strptime(tempstr,"%B %d %Y")
        
        poss = [float(e.text[0:-1]) for e in soup.select("div#summary_possessions text")]
        #extract home id
        homeurl = soup.select("a.tabs-primary__tab-link")[1].get('href')
        homeId = -1 
        for m in re.finditer('/statszone/.*?/matches/.*?/team-stats/(\d+?)/OVERALL_01',homeurl,re.M):
            homeId = m.group(1)
        return date , poss,homeId
    def getTeamStat(homeId):
        
        #passing third
        atkthirdUrl = '/team-stats/{}/1_PASS_08'
        soup = getContentSoup(url+atkthirdUrl.format(homeId))
        awayurl=(soup.select("ul#statzone_pitch_team_filter li.last a")[0].get('href'))
        awayId = -1
        for m in re.finditer('/statszone/.*?/matches/.*?/team-stats/(\d+?)/1_PASS_08',awayurl,re.M):
            awayId = m.group(1)
        
        awayName = soup.select("ul#statzone_pitch_team_filter li.last a")[0].text
        homeName = soup.select("ul#statzone_pitch_team_filter li.first a")[0].text
        teamIds = [homeId,awayId]
        headers = ['atk_3rd','atk_3rd_tot','red_goal','red_on','red_tot','chance_goal', 'chance_tot',
                  'successful_tackle','tackle_tot','successful_clearance','clearance_tot','interceptions','blocks']
        headers = ['H_'+ t for t in headers] + ['A_'+t for t in headers]
        data = []
        for tid in teamIds:
            #name
            #attacking third
            soup = getContentSoup(url+atkthirdUrl.format(tid))
            atkThird = [ int(e.text) for e in soup.select("div.title-wrapper span")]
            data +=atkThird

            #red area
            redurl='/team-stats/{}/0_SHOT_055'.format(tid)
            soup= getContentSoup(url+redurl)
            matchs = ['stroke:yellow;stroke-width:3','stroke:blue;stroke-width:3']
            red_values = [0,0,0]
            for e in soup.select("line.pitch-object") :
                style =  e.get('style')
                red_values[2]+=1
                for indx, m in enumerate(matchs):
                    if style == m:
                        red_values[indx] +=1
                        break
            data+=red_values
            #chance created
            soup= getContentSoup(url+'/team-stats/{}/1_PASS_11'.format(tid))
            matchs = ['stroke:yellow;stroke-width:3']
            chance_values = [0,0]
            for e in soup.select("line.pitch-object") :
                style =  e.get('style')
                chance_values[1]+=1
                for indx, m in enumerate(matchs):
                    if style == m:
                        chance_values[indx] +=1
                        break
            data+=chance_values
            
            #def
            soup= getContentSoup(url+'/team-stats/{}/OVERALL_04'.format(tid))
            def_headers = ['successful_tackle','failed_tackle','successful_clearance','failed_clearance','interceptions','blocks']
            def_values = [0 for i in range(len(def_headers))]
            for e in soup.select("image.pitch-object"):
                href =e.get("xlink:href")
                for indx, header  in enumerate(def_headers):
                    if header in href:
                        def_values[indx]+=1
                        break

            def_values[1]+=def_values[0]
            def_values[3]+= def_values[2]
            data+=def_values
      
        
        
        return homeName, awayName, data,headers
        
    date,poss,homeId = summary()
    homeName, awayName, data,headers=  getTeamStat(homeId)
    n_data = np.array(data).reshape(2,len(headers)/2).T
    print(n_data)
    n_headers = np.ravel(np.array(headers).reshape(2,len(headers)/2).T)
    n_headers = np.hstack(["Date","HomeTeam","AwayTeam","H_poss","A_poss",n_headers])
    result = np.hstack([date,np.ravel(np.vstack([[homeName,awayName],poss,n_data]))])

    return result,n_headers

In [3]:
result,n_headers  = grapMatchInfo('http://www.fourfourtwo.com/statszone/8-2015/matches/803479')

[30, 18, 22, 7, 22, 6]
[77, 116, 1, 3, 9, 1, 10, 30, 48, 22, 29, 22, 6]
[19, 5, 22, 12, 20, 6]
[77, 116, 1, 3, 9, 1, 10, 30, 48, 22, 29, 22, 6, 89, 146, 1, 1, 8, 1, 14, 19, 24, 22, 34, 20, 6]
[[ 77  89]
 [116 146]
 [  1   1]
 [  3   1]
 [  9   8]
 [  1   1]
 [ 10  14]
 [ 30  19]
 [ 48  24]
 [ 22  22]
 [ 29  34]
 [ 22  20]
 [  6   6]]

/home/y/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:131: DeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
/home/y/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:133: DeprecationWarning: using a non-integer number instead of an integer will result in an error in the future

In [4]:
print(result)
print(n_headers)
pd.DataFrame(result.reshape(1,result.shape[0]),columns=n_headers)

[datetime.datetime(2016, 4, 2, 0, 0) 'Liverpool' 'Tottenham Hotspur' '42.2'
 '57.8' '77' '89' '116' '146' '1' '1' '3' '1' '9' '8' '1' '1' '10' '14'
 '30' '19' '48' '24' '22' '22' '29' '34' '22' '20' '6' '6']
['Date' 'HomeTeam' 'AwayTeam' 'H_poss' 'A_poss' 'H_atk_3rd' 'A_atk_3rd'
 'H_atk_3rd_tot' 'A_atk_3rd_tot' 'H_red_goal' 'A_red_goal' 'H_red_on'
 'A_red_on' 'H_red_tot' 'A_red_tot' 'H_chance_goal' 'A_chance_goal'
 'H_chance_tot' 'A_chance_tot' 'H_successful_tackle' 'A_successful_tackle'
 'H_tackle_tot' 'A_tackle_tot' 'H_successful_clearance'
 'A_successful_clearance' 'H_clearance_tot' 'A_clearance_tot'
 'H_interceptions' 'A_interceptions' 'H_blocks' 'A_blocks']

,Date,HomeTeam,AwayTeam,H_poss,A_poss,H_atk_3rd,A_atk_3rd,H_atk_3rd_tot,A_atk_3rd_tot,H_red_goal,...,H_tackle_tot,A_tackle_tot,H_successful_clearance,A_successful_clearance,H_clearance_tot,A_clearance_tot,H_interceptions,A_interceptions,H_blocks,A_blocks
0,2016-04-02 00:00:00,Liverpool,Tottenham Hotspur,42.2,57.8,77,89,116,146,1,...,48,24,22,22,29,34,22,20,6,6

In [6]:
soup= getContentSoup('http://www.fourfourtwo.com/statszone/8-2015/matches/803479/team-stats/6/OVERALL_04')
def_headers = ['successful_tackle','failed_tackle','successful_clearance','failed_clearance','interceptions','blocks']
def_values = [0 for i in range(len(def_headers))]
for e in soup.select("image.pitch-object"):
    href =e.get("xlink:href")
    print(href)
    for indx, header  in enumerate(def_headers):
        if header in href:
            def_values[indx]+=1
            break

#def_values[1]+=def_values[0]
#def_values[3] += def_values[2]

/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_tackle.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/interceptions.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/blocks.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/blocks.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/blocks.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/blocks.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/blocks.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/blocks.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/successful_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/failed_clearance.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/commited.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/commited.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/commited.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/commited.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/commited.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/commited.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/commited.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/commited.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/commited.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/commited.png
/sites/fourfourtwo.com/modules/custom/statzone/files/icons/commited.png

In [7]:
def_values

[19, 5, 22, 12, 20, 6]

In [30]:
soup= getContentSoup('http://www.fourfourtwo.com/statszone/8-2015/matches/803479/team-stats/14/1_PASS_11')
matchs = ['stroke:yellow;stroke-width:3','stroke:deepskyblue;stroke-width:3']
values = [0,0,0]
for e in soup.select("line.pitch-object") :
    style =  e.get('style')
    print(style)
    values[2]+=1
    for indx, m in enumerate(matchs):
        if style == m:
            values[indx] +=1
            break

stroke:deepskyblue;stroke-width:3
stroke:deepskyblue;stroke-width:3
stroke:deepskyblue;stroke-width:3
stroke:deepskyblue;stroke-width:3
stroke:yellow;stroke-width:3
stroke:deepskyblue;stroke-width:3
stroke:deepskyblue;stroke-width:3
stroke:deepskyblue;stroke-width:3
stroke:deepskyblue;stroke-width:3
stroke:deepskyblue;stroke-width:3

In [31]:
values

[1, 9, 10]

In [47]:
import os, http.cookiejar, urllib.request
from cookielib import Cookie, CookieJar

def getReferee():
    cj = CookieJar()
    # Cookie(version, name, value, port, port_specified, domain, 
    # domain_specified, domain_initial_dot, path, path_specified, 
    # secure, discard, comment, comment_url, rest)
    c = Cookie(None, 'asdf', None, '80', '80', 'www.foo.bar', 
           None, None, '/', None, False, False, 'TestCookie', None, None, None)
    cj.set_cookie(c)
    print (cj)
    url = 'http://www.premierleague.com/content/premierleague/en-gb/referees/appointments.html?paramSearchContext=MATCH_WEEK&paramMatchWeek=31'
    return
    req = urllib.request.Request(url)
    req.add_header('Accept-Language','en-US;q=0.6,en;q=0.4')
    content = urllib.request.urlopen(req).read().decode('utf-8')
    print(content)
    #soup= getContentSoup(url)
    #print(soup.prettify())
    dfs = pd.read_html(url)
    dfs[0]["Date"] =datetime.date(2016,4,2)
    dfs[1]["Date"] = datetime.date(2016,4,3)
    print(dfs)

ImportError: No module named 'cookielib'

In [48]:
getReferee()

<!--[if lt IE 7]>      <html lang="zh" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="zh" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="zh" class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="zh" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="zh"> <!--<![endif]-->




<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="description" content="">
    <meta name="author" content="">








    <meta property="wb:webmaster" content="873af3d8c5231f13" />




    <title>Premier League | 主頁</title>



    <link rel="stylesheet" href="/etc/designs/international/exlibs.css" type="text/css">

    <link rel="stylesheet" href="/etc/designs/international/clientlibs.css" type="text/css">


   <!--[if lte IE 8]> <link rel="stylesheet" href="/etc/designs/international/IE8libs.css" type="text/css">
  <![endif]-->
   <!--[if lte IE 8]> <script type="text/javascript" src="/etc/designs/international/IE8libs.js"></script>
  <![endif]-->


    <script type="text/javascript" src="/etc/designs/international/exlibs.js"></script>

    <script type="text/javascript" src="/etc/designs/international/clientlibs.js"></script>


   <!-- Lotame Header Tag -->

   <script type="text/javascript">
   var cc_client_id=3150;
   document.write('<scr'+'ipt type="text/javascript" src="http://ad.crwdcntrl.net/5/c='+cc_client_id.toString()+'/pe=y/callback=processauds"></scr'+'ipt>');
   var adtechCCvals = "";
   function processauds(adtechccauds) {
   if (typeof(adtechccauds) != 'undefined'){
   for (var cci = 0; cci < adtechccauds.Profile.Audiences.Audience.length;cci++){
   if (cci > 0) adtechCCvals += ":";
   adtechCCvals +=adtechccauds.Profile.Audiences.Audience[cci].abbr;
   }
   }
   }
   </script>



    <script language="javascript">&lt;!--document.write('&lt;scr'+'ipt language="javascript1.1" src="http://adserver.adtech.de/addyn/3.0/327.0/3052915/0/0/ADTECH;loc=100;target=_blank;sub1=[subst];key=key1+key2+key3+key4;grp=[group];KVabbr='+window.adtechCCvals+';misc='+new Date().getTime()+';rdclick="&gt;&lt;/scri'+'pt&gt;');//--&gt;
    </script>

    <script src="http://tags.crwdcntrl.net/c/3688/cc.js?ns=_cc3688" id="LOTCC_3688"></script>

    <script type="text/javascript" src="/etc/designs/international/clientlibs/js/lotame.js"></script>

    <!-- end of Lotame Header Tag -->
</head>


<body>






























<div id="header" widget="pinning">
    <div id="masthead">

































































































































































































<div class="cookie-prompt"
	data-widget = "languagecookie"
	data-pageLocale = "zh_HK"
	data-translation = "{&#034;en_GB&#034;: {
		&#034;language&#034;: {
			&#034;en_GB&#034;:&#034;English&#034;,
			&#034;in_ID&#034;:&#034;Indonesian&#034;,
			&#034;es_ES&#034;:&#034;Spanish&#034;,
			&#034;zh_CN&#034;:&#034;Simplified Chinese&#034;,
			&#034;zh_HK&#034;:&#034;Traditional Chinese&#034;,
			&#034;th_TH&#034;:&#034;Thai&#034;,
			&#034;pt_BR&#034;:&#034;Portuguese&#034;
		},
		&#034;sentences&#034;: {
			&#034;heading&#034;:&#034;You are currently visiting the English language version of premierleague.com&#034;,
			&#034;prompt&#034;:&#034;Would you like to make this your default Barclays Premier league site?&#034;,
			&#034;btnYes&#034;:&#034;yes&#034;,
			&#034;btnNo&#034;:&#034;no&#034;,
			&#034;currentState&#034;:&#034;Your current default language is&#034;,
			&#034;english&#034;:&#034;English&#034;
		}
	},&#034;in_ID&#034;: {
		&#034;language&#034;: {
			&#034;en_GB&#034;:&#034;Bahasa Inggris&#034;,
			&#034;in_ID&#034;:&#034;Bahasa Indonesia&#034;,
			&#034;es_ES&#034;:&#034;Bahasa Spanyol&#034;,
			&#034;zh_CN&#034;:&#034;Huruf Tionghoa Disederhanakan&#034;,
			&#034;zh_HK&#034;:&#034;Bahasa Tionghoa Tradisional&#034;,
			&#034;th_TH&#034;:&#034;Bahasa Thailand&#034;,
			&#034;pt_BR&#034;:&#034;Portuguese&#034;
		},
		&#034;sentences&#034;: {
			&#034;heading&#034;:&#034;Halaman Barclays Premier league?&#034;,
			&#034;prompt&#034;:&#034;Halaman Barclays Premier league?&#034;,
			&#034;btnYes&#034;:&#034;ya&#034;,
			&#034;btnNo&#034;:&#034;Tidak&#034;,
			&#034;currentState&#034;:&#034;Bahasa yang anda gunakan saat ini adalah&#034;,
			&#034;english&#034;:&#034;Bahasa Inggris&#034;
		}
	},&#034;es_ES&#034;: {
		&#034;language&#034;: {
			&#034;en_GB&#034;:&#034;Inglés&#034;,
			&#034;in_ID&#034;:&#034;Indonesio&#034;,
			&#034;es_ES&#034;:&#034;Español&#034;,
			&#034;zh_CN&#034;:&#034;Chino simplificado&#034;,
			&#034;zh_HK&#034;:&#034;Chino tradicional&#034;,
			&#034;th_TH&#034;:&#034;Tailandés&#034;,
			&#034;pt_BR&#034;:&#034;Portuguese&#034;
		},
		&#034;sentences&#034;: {
			&#034;heading&#034;:&#034;Está visitando en estos momentos la versión inglesa de premierleague.com&#034;,
			&#034;prompt&#034;:&#034;¿Quiere establecerla como la página por defecto de la Barclays Premier league?&#034;,
			&#034;btnYes&#034;:&#034;sí&#034;,
			&#034;btnNo&#034;:&#034;no&#034;,
			&#034;currentState&#034;:&#034;Tu idioma actual por defecto es&#034;,
			&#034;english&#034;:&#034;inglesa&#034;
		}
	},&#034;zh_CN&#034;: {
		&#034;language&#034;: {
			&#034;en_GB&#034;:&#034;英语&#034;,
			&#034;in_ID&#034;:&#034;印度尼西亚语&#034;,
			&#034;es_ES&#034;:&#034;西班牙语&#034;,
			&#034;zh_CN&#034;:&#034;简体汉语&#034;,
			&#034;zh_HK&#034;:&#034;繁体汉语&#034;,
			&#034;th_TH&#034;:&#034;泰语&#034;,
			&#034;pt_BR&#034;:&#034;Portuguese&#034;
		},
		&#034;sentences&#034;: {
			&#034;heading&#034;:&#034;您正在浏览premierleague.com&#034;,
			&#034;prompt&#034;:&#034;英语界面，您是否将此界面设置为默认?&#034;,
			&#034;btnYes&#034;:&#034;是&#034;,
			&#034;btnNo&#034;:&#034;否&#034;,
			&#034;currentState&#034;:&#034;目前您的默认语言为&#034;,
			&#034;english&#034;:&#034;英语&#034;
		}
	},&#034;zh_HK&#034;: {
		&#034;language&#034;: {
			&#034;en_GB&#034;:&#034;英文&#034;,
			&#034;in_ID&#034;:&#034;印尼文&#034;,
			&#034;es_ES&#034;:&#034;西班牙文&#034;,
			&#034;zh_CN&#034;:&#034;簡體中文&#034;,
			&#034;zh_HK&#034;:&#034;繁體中文&#034;,
			&#034;th_TH&#034;:&#034;泰文&#034;,
			&#034;pt_BR&#034;:&#034;Portuguese&#034;
		},
		&#034;sentences&#034;: {
			&#034;heading&#034;:&#034;你現正訪問英文版的 premierleague.com&#034;,
			&#034;prompt&#034;:&#034;請問你想將它設為預設英超網站嗎?&#034;,
			&#034;btnYes&#034;:&#034;是&#034;,
			&#034;btnNo&#034;:&#034;不是&#034;,
			&#034;currentState&#034;:&#034;現時預設的語言為&#034;,
			&#034;english&#034;:&#034;英文&#034;
		}
	},&#034;th_TH&#034;: {
		&#034;language&#034;: {
			&#034;en_GB&#034;:&#034;อังกฤษ&#034;,
			&#034;in_ID&#034;:&#034;อินโดนีเซีย&#034;,
			&#034;es_ES&#034;:&#034;สเปน&#034;,
			&#034;zh_CN&#034;:&#034;จีนกลาง&#034;,
			&#034;zh_HK&#034;:&#034;จีนดั้งเดิม&#034;,
			&#034;th_TH&#034;:&#034;ไทย&#034;,
			&#034;pt_BR&#034;:&#034;Portuguese&#034;
		},
		&#034;sentences&#034;: {
			&#034;heading&#034;:&#034;ขณะนี้คุณกำลังเยี่ยมชม premierleague.com&#034;,
			&#034;prompt&#034;:&#034;เป็นภาษาอังกฤษ คุณต้องการให้มันเป็นภาษาเริ่มต้นสำหรับการใช้งานเว็บไซต์ Barclays Premier league หรือไม่?&#034;,
			&#034;btnYes&#034;:&#034;ใช่&#034;,
			&#034;btnNo&#034;:&#034;ไม่&#034;,
			&#034;currentState&#034;:&#034;ภาษาเริ่มต้นของคุณในปัจจุบันคือ&#034;,
			&#034;english&#034;:&#034;อังกฤษ&#034;
		}
	},&#034;pt_BR&#034;: {
		&#034;language&#034;: {
			&#034;en_GB&#034;:&#034;Inglês&#034;,
			&#034;in_ID&#034;:&#034;Indonésio&#034;,
			&#034;es_ES&#034;:&#034;Espanhol&#034;,
			&#034;zh_CN&#034;:&#034;Chinês Simplificado&#034;,
			&#034;zh_HK&#034;:&#034;Chinês Tradicional&#034;,
			&#034;th_TH&#034;:&#034;Tailandês&#034;,
			&#034;pt_BR&#034;:&#034;Portuguese&#034;
		},
		&#034;sentences&#034;: {
			&#034;heading&#034;:&#034;Você está visitando a versão em inglês da premierleague.com.&#034;,
			&#034;prompt&#034;:&#034;Você gostaria de fazer do site da Barclays Premier League sua página inicial?&#034;,
			&#034;btnYes&#034;:&#034;sim&#034;,
			&#034;btnNo&#034;:&#034;não&#034;,
			&#034;currentState&#034;:&#034;Seu idioma padrão atual é&#034;,
			&#034;english&#034;:&#034;inglês&#034;
		}
	}}" >

	<div class="container">
		<h3 class="heading"></h3>
		<p class="prompt"></p>

		<button class="btn yes"></button>
		<button class="btn no"></button>
		<p class="currentState"></p>

	</div>
</div>

        <div class="banner">
            <div class="banner-inner">
              <div class="parsys iparsys bannersys"><div class="section"><div class="parbase bannerad">












    <script type="text/javascript">
        /*
         *  Perform JS required for responsive leaderboard ads.
         */
        $PL.perform = $PL.perform || {};
        $PL.perform.getViewPort = function() {
            var screenWidth,
                screenHeight;
            if ( typeof window.innerWidth == 'number' ) {
                screenWidth = window.innerWidth;
                screenHeight = window.innerHeight;
            } else if ( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
                screenWidth = document.documentElement.clientWidth;
                screenHeight = document.documentElement.clientHeight;
            } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
                screenWidth = document.body.clientWidth;
                screenHeight = document.body.clientHeight;
            }
            return { width: screenWidth, height: screenHeight };
        }

        $PL.perform.getTagInfo = function() {
            window.groupId = window.groupId == undefined ? Math.round( Math.random() * 1000 ) : window.groupId;
            var viewPort = $PL.perform.getViewPort();
            var alias = viewPort.width <= 568 ? 'mobile' : 'display' ;
            var domain = alias == 'mobile' ? 'a' : ( alias == 'tablet' ? 'a' : 'adserver' );
            return { domain: domain, alias: alias, groupId: groupId, viewPort: viewPort };
        }

        $PL.perform.localeAlias = function() {
          var aliasJson = {
            'en_GB': 'premierleagueindonesiaroslb_display',
            'in_ID': 'premierleagueindonesiaroslb_display',
            'pt_BR': 'premierleaguebrazilroslb_display',
            'zh_HK': 'premierleaguechinesetraditionalroslb_display',
            'zh_CN': 'premierleaguechinesesimplifiedroslb_display',
            'th_TH': 'premierleaguethailandroslb_display',
            'es_ES': 'premierleaguespainroslb_display',
          }
          return aliasJson['zh_HK'];
        }
    </script>

    <script type="text/javascript">
        ( function() {
            var info = $PL.perform.getTagInfo();
            var alias = $PL.perform.localeAlias();
                alias = alias !== '' ? 'alias=' + ( alias.split("_") ? alias.split("_")[ 0 ] : alias ) + '_' + info.alias : '';
            document.write('<scr'+'ipt language="javascript1.1" src="http://' + info.domain + '.adtech.de/addyn/3.0/327.0/5192435/0/-1/ADTECH;' + alias + ';loc=100;kvlayout=insertlayoutidentifier;target=_blank;grp=' + info.groupId + ';misc=' + new Date().getTime() + '"></scri'+'pt>');
        })();
    </script>




<noscript>
    <img src="http://adserver.adtech.de/adserv|3.0|327|4806545|0|225|ADTECH;cookie=info;loc=300" border="0" width="728" height="90"/>
</noscript>
      </div>
</div><div class="section"><div class="new"></div>
</div><div class="iparys_inherited"><div class="parsys iparsys bannersys"></div>
</div>
</div>

            </div>
        </div>

        <div class="sitehead">

            <div class="utils">
                <div class="logo">
                    <a href="/zh-hk.html" title="首頁">
                    <span>Barclays Premier League</span>
                    </a>
                </div>

                <div class="links clearfix siteutils">
                    <div class="clublogos">



    <ul>

            <li class="logo0">
                <a title="AFC Bournemouth" target="_blank" href="http://www.afcb.co.uk/">
                    <span>AFC Bournemouth</span>
                </a>
            </li>

            <li class="logo1">
                <a title="Arsenal" target="_blank" href="http://www.arsenal.com/home">
                    <span>Arsenal</span>
                </a>
            </li>

            <li class="logo2">
                <a title="Aston Villa" target="_blank" href="http://www.avfc.co.uk/">
                    <span>Aston Villa</span>
                </a>
            </li>

            <li class="logo3">
                <a title="Chelsea" target="_blank" href="http://www.chelseafc.com/?WT.mc_id=premierleague-ctvo">
                    <span>Chelsea</span>
                </a>
            </li>

            <li class="logo4">
                <a title="Crystal Palace" target="_blank" href="http://www.cpfc.co.uk/">
                    <span>Crystal Palace</span>
                </a>
            </li>

            <li class="logo5">
                <a title="Everton" target="_blank" href="http://www.evertonfc.com/">
                    <span>Everton</span>
                </a>
            </li>

            <li class="logo6">
                <a title="Leicester City" target="_blank" href="http://www.lcfc.com/">
                    <span>Leicester City</span>
                </a>
            </li>

            <li class="logo7">
                <a title="Liverpool" target="_blank" href="http://www.liverpoolfc.tv/">
                    <span>Liverpool</span>
                </a>
            </li>

            <li class="logo8">
                <a title="Manchester City" target="_blank" href="http://www.mcfc.co.uk/">
                    <span>Manchester City</span>
                </a>
            </li>

            <li class="logo9">
                <a title="Manchester United" target="_blank" href="http://www.manutd.com/">
                    <span>Manchester United</span>
                </a>
            </li>

            <li class="logo10">
                <a title="Newcastle United" target="_blank" href="http://www.nufc.co.uk/">
                    <span>Newcastle United</span>
                </a>
            </li>

            <li class="logo11">
                <a title="Norwich City" target="_blank" href="http://www.canaries.co.uk/">
                    <span>Norwich City</span>
                </a>
            </li>

            <li class="logo12">
                <a title="Southampton" target="_blank" href="http://www.saintsfc.co.uk/">
                    <span>Southampton</span>
                </a>
            </li>

            <li class="logo13">
                <a title="Stoke City" target="_blank" href="http://www.stokecityfc.com/">
                    <span>Stoke City</span>
                </a>
            </li>

            <li class="logo14">
                <a title="Sunderland" target="_blank" href="http://www.safc.com/">
                    <span>Sunderland</span>
                </a>
            </li>

            <li class="logo15">
                <a title="Swansea City" target="_blank" href="http://www.swanseacity.net/">
                    <span>Swansea City</span>
                </a>
            </li>

            <li class="logo16">
                <a title="Tottenham Hotspur" target="_blank" href="http://www.tottenhamhotspur.com/home/">
                    <span>Tottenham Hotspur</span>
                </a>
            </li>

            <li class="logo17">
                <a title="Watford" target="_blank" href="http://www.watfordfc.com/">
                    <span>Watford</span>
                </a>
            </li>

            <li class="logo18">
                <a title="West Bromwich Albion" target="_blank" href="http://www.wba.co.uk/">
                    <span>West Bromwich Albion</span>
                </a>
            </li>

            <li class="logo19">
                <a title="West Ham United" target="_blank" href="http://www.whufc.com/">
                    <span>West Ham United</span>
                </a>
            </li>


    </ul>



                    </div>
                    <div class="siteutilshead">

























<ul class="primary" data-widget="languagecontrol" data-currentLocale="zh_HK">
    <h2 class="zh_HK"><span></span></h2>

  	<li class="login">
        <a class="my-login" href="http://users.premierleague.com">登入/註冊</a>
        <a class="my-account" href="http://users.premierleague.com">我的帳戶</a>
    </li>
    <li class="languages">







<form action="#">
    <p>
        <select class="dropdown">












                    <option value="zh_HK">繁體中文</option>







                    <option value="en_GB">English</option>



                    <option value="pt_BR">Português</option>



                    <option value="in_ID">Indonesia</option>



                    <option value="es_ES">Español</option>



                    <option value="th_TH">ภาษาไทย</option>





                    <option value="zh_CN">简体中文</option>


        </select>
    </p>
</form>


    </li>
  	<li class="fpl"><a href="http://hk.fantasy.premierleague.com">Fantasy Premier League</a></li>
</ul>


                    </div>
                </div>

                <h2 class="barclayslogolong">Barclays Premier League</h2>

                <div class="mobile-nav">
                  <ul>
                    <li><a href="/zh-hk/matchday/matches.html" class="">賽程</a></li>
                    <li><a href="/zh-hk/matchday/results.html" class="">分數</a></li>
                    <li><a href="/zh-hk/matchday/league-table.html" class="">積分榜</a></li>
                  </ul>
                </div>

            </div>
        </div>
    </div><!--/#masthead -->

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>

    <div id="nav-container" data-widget="languagecontrol" data-currentLocale="zh_HK">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <div class="left-col">
                    <li ><a href="/zh-hk.html" class="highlight">首頁</a></li>
                    <li ><a href="/zh-hk/news.html" class="">新聞</a></li>
                    <li class="hidden-mobile"><a href="/zh-hk/matchday/matches.html" class="">賽程</a></li>
                    <li class="hidden-mobile"><a href="/zh-hk/matchday/results.html" class="">分數</a></li>
                    <li class="hidden-mobile"><a href="/zh-hk/matchday/league-table.html" class="">積分榜</a></li>
                    <li ><a href="/zh-hk/players/index.html" class="">數據</a></li>
                </div>
                <div class="right-col">
                    <li><a href="/zh-hk/clubs.html" class="">球會</a></li>
                    <li><a href="/zh-hk/matchday/broadcast-schedules.html" class="">電視廣播商列表</a></li>
                    <li><a href="/zh-hk/videos.html" class="">影片</a></li>
                </div>

                <li class="fantasy"><a href="http://hk.fantasy.premierleague.com">Fantasy Premier League<span></span></a> </li>

                <li class="languages">








ValueError: No tables found

In [6]:
from IPython.parallel import Client
import time
from IPython.display import clear_output
import sys
def getYearMatch(year):
    
    listurl ='http://www.fourfourtwo.com/statszone/results/8-{}'.format(year)
    baseurl = 'http://www.fourfourtwo.com'
    soup = getContentSoup(listurl)
    tot_links = [e.get('href') for e in  (soup.select("td.link-to-match a"))]
    dates = []
    h_names = []
    a_names =[]
    posses = []
    h_atks = []
    a_atks=[]
    h_ins=[]
    a_ins=[]
    def workerFunc(args):
        import sys
        links =args[0]
        grapMatchInfo = args[1]
        print("start working")
        dates = []
        h_names = []
        a_names =[]
        posses = []
        h_atks = []
        a_atks=[]
        h_ins=[]
        a_ins=[]
        for indx, link in enumerate(links):
            print("task: {}/{}".format(indx,len(links)))
            sys.stdout.flush()
            try:
                date ,homeName, awayName ,poss, h_atkThird, a_atkThird, h_interception,a_interception = grapMatchInfo(baseurl + link)
                print("{} {} {}".format(date,homeName,awayName))
                dates.append(date)
                h_names.append(homeName)
                a_names.append(awayName)
                posses.append(poss)
                h_atks.append(h_atkThird)
                a_atks.append(a_atkThird)
                h_ins.append(h_interception)
                a_ins.append(a_interception)
            except Exception as e:
                print(e)
                print("error")
                break
            
        print("finish")
        return [dates,h_names,a_names,posses,h_atks,a_atks,h_ins,a_ins]
    def finishCallback(returnArgs):
        print("complete")
        dates = []
        h_names = []
        a_names =[]
        posses = []
        h_atks = []
        a_atks=[]
        h_ins=[]
        a_ins=[]
        for args in returnArgs:
            dates=dates+args[0]
            h_names = h_names + args[1]
            a_names = a_names + args[2]
            posses = posses+args[3]
            h_atks=h_atks + args[4]
            a_atks = a_atks + args[5]
            h_ins = h_ins + args[6]
            a_ins = a_ins + args[7]
        return dates,h_names,a_names,posses,h_atks,a_atks,h_ins,a_ins
        
    n_work = 4
    pool = Client()
    print(pool.ids)
    each_n = int(len(tot_links)/n_work)
    works = [tot_links[i*each_n:(i+1)*each_n] for i in range(n_work)]
    works[0].append(tot_links[4*each_n:])
    results = []
    for i in range(n_work):
        results.append(pool[i].apply_async(f=workerFunc,args=[works[i],grapMatchInfo,getContentSoup]))
    def wait_watching_stdout(ars, dt=5, truncate=500):
        while True:
            allReady = True 
            printed = False
            for ar in ars:
                if not ar.ready():
                    allReady = False
                    stdouts = ar.metadata['stdout']
                    if not any(stdouts):
                        continue
                    if printed == False:
                        clear_output()
                        printed = True
                    # clear_output doesn't do much in terminal environments
                    print ('-' * 30)
                    print ("%.3fs elapsed" % ar.elapsed)
                    print ("")
                    print(ar._targets)
                    #print ("[ stdout %2i ]" % (ar._targets))
                    print(ar.metadata['stdout'][-truncate:])
                    sys.stdout.flush()
            if allReady == True:
                return
            time.sleep(dt)      
    wait_watching_stdout(results)
    returnArgs = [ e.get() for e in results]
    pool.close()
    return finishCallback(returnArgs)

/home/y/anaconda3/lib/python3.5/site-packages/IPython/parallel.py:13: ShimWarning: The `IPython.parallel` package has been deprecated. You should import from ipyparallel instead.
  "You should import from ipyparallel instead.", ShimWarning)

In [4]:
from IPython.parallel import Client
import time
from IPython.display import clear_output
import sys
def getYearMatch(year):
    
    listurl ='http://www.fourfourtwo.com/statszone/results/8-{}'.format(year)
    baseurl = 'http://www.fourfourtwo.com'
    soup = getContentSoup(listurl)
    tot_links = [e.get('href') for e in  (soup.select("td.link-to-match a"))]
    results =[]
    n_header=None
    print("start working")
    for indx, link in enumerate(tot_links):
        clear_output()
        print("task: {}/{}".format(indx,len(tot_links)))
        sys.stdout.flush()
        try:
            result,n_headers = grapMatchInfo(baseurl + link)
            print("{} {} {}".format(result[0],result[1],result[2]))
            results.append(result)
            n_header = n_headers
        except Exception as e:
            print(e)
            print("error")
            break
            
        print("finish")
    
 
    return results,n_header

In [5]:
results,n_header= getYearMatch(2015)

task: 310/311
[[121  75]
 [174 110]
 [  0   2]
 [  2   4]
 [  6  12]
 [  0   0]
 [  8  12]
 [ 16  22]
 [ 29  36]
 [ 10  23]
 [ 17  33]
 [ 13  12]
 [  5   2]]
2015-08-08 00:00:00 Chelsea Swansea City
finish

[array([datetime.datetime(2016, 4, 2, 0, 0), 'Aston Villa', 'Chelsea',
        '41.4', '58.6', '101', '83', '136', '119', '0', '4', '1', '2', '6',
        '7', '0', '2', '11', '6', '24', '19', '32', '31', '9', '14', '15',
        '23', '21', '8', '0', '4'], dtype=object),
 array([datetime.datetime(2016, 4, 2, 0, 0), 'West Ham United',
        'Crystal Palace', '66.4', '33.6', '75', '41', '118', '81', '1', '2',
        '1', '2', '9', '10', '0', '0', '13', '6', '12', '18', '21', '34',
        '25', '17', '34', '23', '9', '14', '3', '6'], dtype=object),
 array([datetime.datetime(2016, 4, 2, 0, 0), 'Bournemouth',
        'Manchester City', '45.8', '54.2', '77', '145', '110', '187', '0',
        '4', '1', '2', '6', '10', '0', '3', '6', '13', '18', '26', '32',
        '38', '15', '10', '20', '16', '17', '15', '0', '3'], dtype=object),
 array([datetime.datetime(2016, 4, 2, 0, 0), 'Norwich City',
        'Newcastle United', '41.3', '58.7', '81', '93', '132', '131', '3',
        '2', '2', '2', '8', '10', '3', '1', '12', '12', '11', '11', '16',
        '17', '20', '22', '31', '33', '5', '12', '1', '2'], dtype=object),
 array([datetime.datetime(2016, 4, 2, 0, 0), 'Stoke City', 'Swansea City',
        '47.2', '52.8', '75', '86', '125', '125', '1', '0', '1', '1', '5',
        '6', '2', '2', '8', '10', '16', '12', '24', '19', '18', '18', '26',
        '26', '18', '16', '4', '2'], dtype=object),
 array([datetime.datetime(2016, 4, 2, 0, 0), 'Arsenal', 'Watford', '69.1',
        '30.9', '238', '56', '284', '99', '4', '0', '5', '2', '14', '4',
        '2', '0', '14', '5', '15', '19', '17', '27', '21', '20', '30', '27',
        '25', '19', '2', '3'], dtype=object),
 array([datetime.datetime(2016, 4, 2, 0, 0), 'Sunderland',
        'West Bromwich Albion', '56.5', '43.5', '101', '51', '159', '105',
        '0', '0', '5', '0', '13', '1', '0', '0', '16', '2', '17', '13',
        '24', '24', '37', '23', '48', '36', '14', '19', '1', '6'], dtype=object),
 array([datetime.datetime(2016, 4, 2, 0, 0), 'Liverpool',
        'Tottenham Hotspur', '42.2', '57.8', '77', '89', '116', '146', '1',
        '1', '3', '1', '9', '8', '1', '1', '10', '14', '30', '19', '48',
        '24', '22', '22', '29', '34', '22', '20', '6', '6'], dtype=object),
 array([datetime.datetime(2016, 3, 20, 0, 0), 'Southampton', 'Liverpool',
        '49.2', '50.8', '114', '111', '163', '164', '2', '1', '1', '5', '9',
        '10', '3', '2', '13', '12', '18', '11', '32', '20', '23', '21',
        '33', '26', '22', '12', '4', '5'], dtype=object),
 array([datetime.datetime(2016, 3, 20, 0, 0), 'Newcastle United',
        'Sunderland', '59.9', '40.1', '74', '72', '116', '124', '1', '1',
        '3', '2', '9', '7', '1', '0', '12', '10', '24', '25', '35', '40',
        '25', '23', '31', '38', '9', '6', '3', '3'], dtype=object),
 array([datetime.datetime(2016, 3, 20, 0, 0), 'Tottenham Hotspur',
        'Bournemouth', '62.8', '37.2', '108', '49', '150', '78', '3', '0',
        '1', '0', '9', '2', '2', '0', '13', '2', '20', '20', '40', '26',
        '18', '26', '29', '31', '15', '17', '0', '2'], dtype=object),
 array([datetime.datetime(2016, 3, 20, 0, 0), 'Manchester City',
        'Manchester United', '54.5', '45.5', '134', '68', '175', '105', '0',
        '1', '3', '1', '21', '3', '0', '1', '22', '5', '21', '26', '35',
        '46', '22', '16', '30', '25', '24', '17', '1', '5'], dtype=object),
 array([datetime.datetime(2016, 3, 19, 0, 0), 'Everton', 'Arsenal', '53.9',
        '46.1', '85', '126', '138', '163', '0', '2', '1', '0', '5', '8',
        '0', '2', '5', '8', '23', '21', '42', '29', '11', '23', '15', '38',
        '17', '30', '4', '1'], dtype=object),
 array([datetime.datetime(2016, 3, 19, 0, 0), 'Crystal Palace',
        'Leicester City', '55.9', '44.1', '72', '98', '123', '154', '0',
        '1', '1', '2', '7', '6', '0', '1', '12', '6', '15', '28', '28',
        '46', '18', '39', '32', '52', '19', '21', '2', '2'], dtype=object),
 array([datetime.datetime(2016, 3, 19, 0, 0), 'West Bromwich Albion',
        'Norwich City', '50.1', '49.9', '89', '72', '158', '140', '0', '1',
        '0', '0', '5', '4', '0', '1', '8', '6', '17', '20', '28', '26',
        '33', '41', '38', '53', '24', '6', '2', '3'], dtype=object),
 array([datetime.datetime(2016, 3, 19, 0, 0), 'Watford', 'Stoke City',
        '52.1', '47.9', '88', '78', '158', '126', '1', '1', '2', '2', '6',
        '3', '1', '2', '6', '8', '19', '18', '27', '32', '9', '29', '20',
        '45', '18', '11', '1', '1'], dtype=object),
 array([datetime.datetime(2016, 3, 19, 0, 0), 'Chelsea', 'West Ham United',
        '59.4', '40.6', '103', '58', '150', '98', '1', '1', '2', '2', '16',
        '9', '0', '1', '14', '9', '18', '20', '23', '35', '13', '23', '19',
        '30', '15', '18', '5', '6'], dtype=object),
 array([datetime.datetime(2016, 3, 19, 0, 0), 'Swansea City', 'Aston Villa',
        '53.8', '46.2', '83', '100', '112', '149', '1', '0', '0', '2', '3',
        '8', '1', '0', '7', '7', '19', '27', '33', '34', '42', '18', '53',
        '28', '25', '32', '6', '3'], dtype=object),
 array([datetime.datetime(2016, 3, 14, 0, 0), 'Leicester City',
        'Newcastle United', '49.9', '50.1', '95', '83', '133', '136', '1',
        '0', '0', '0', '7', '8', '1', '0', '9', '10', '21', '26', '35',
        '32', '16', '24', '21', '30', '24', '16', '5', '6'], dtype=object),
 array([datetime.datetime(2016, 3, 13, 0, 0), 'Aston Villa',
        'Tottenham Hotspur', '37.8', '62.2', '72', '107', '125', '146', '0',
        '2', '1', '4', '8', '11', '0', '2', '6', '15', '23', '21', '31',
        '32', '18', '26', '28', '38', '29', '14', '5', '4'], dtype=object),
 array([datetime.datetime(2016, 3, 12, 0, 0), 'Norwich City',
        'Manchester City', '33.9', '66.1', '67', '202', '118', '255', '0',
        '0', '0', '2', '2', '6', '0', '0', '3', '9', '27', '21', '38', '24',
        '43', '32', '60', '40', '13', '14', '7', '1'], dtype=object),
 array([datetime.datetime(2016, 3, 12, 0, 0), 'Stoke City', 'Southampton',
        '60.6', '39.4', '109', '67', '163', '108', '1', '2', '1', '2', '5',
        '6', '1', '2', '10', '9', '21', '20', '30', '32', '11', '36', '19',
        '47', '10', '10', '2', '3'], dtype=object),
 array([datetime.datetime(2016, 3, 12, 0, 0), 'Bournemouth', 'Swansea City',
        '44.0', '56.0', '68', '84', '111', '129', '3', '2', '0', '2', '8',
        '8', '2', '1', '9', '8', '19', '29', '31', '38', '23', '20', '27',
        '26', '25', '20', '1', '2'], dtype=object),
 array([datetime.datetime(2016, 3, 6, 0, 0), 'Crystal Palace', 'Liverpool',
        '38.5', '61.5', '75', '143', '129', '180', '1', '2', '3', '2', '9',
        '9', '0', '0', '7', '13', '13', '23', '21', '32', '14', '23', '19',
        '36', '20', '12', '8', '4'], dtype=object),
 array([datetime.datetime(2016, 3, 6, 0, 0), 'West Bromwich Albion',
        'Manchester United', '46.6', '53.4', '87', '97', '152', '141', '1',
        '0', '0', '0', '6', '3', '1', '0', '9', '4', '19', '28', '33', '35',
        '19', '11', '31', '21', '21', '17', '3', '3'], dtype=object),
 array([datetime.datetime(2016, 3, 5, 0, 0), 'Tottenham Hotspur', 'Arsenal',
        '51.8', '48.2', '85', '74', '132', '126', '1', '2', '4', '1', '12',
        '5', '2', '2', '19', '7', '30', '25', '41', '34', '19', '25', '22',
        '34', '18', '23', '4', '8'], dtype=object),
 array([datetime.datetime(2016, 3, 5, 0, 0), 'Manchester City',
        'Aston Villa', '71.2', '28.8', '251', '51', '302', '77', '4', '0',
        '5', '1', '16', '2', '3', '0', '19', '0', '17', '23', '23', '32',
        '3', '22', '4', '34', '22', '21', '1', '3'], dtype=object),
 array([datetime.datetime(2016, 3, 5, 0, 0), 'Newcastle United',
        'Bournemouth', '49.3', '50.7', '82', '77', '128', '129', '1', '2',
        '1', '2', '7', '11', '1', '2', '12', '11', '26', '20', '45', '35',
        '20', '30', '29', '35', '17', '26', '6', '6'], dtype=object),
 array([datetime.datetime(2016, 3, 5, 0, 0), 'Swansea City', 'Norwich City',
        '55.8', '44.2', '85', '93', '128', '146', '1', '0', '1', '2', '7',
        '7', '1', '0', '8', '6', '20', '15', '29', '23', '32', '30', '39',
        '40', '20', '23', '2', '2'], dtype=object),
 array([datetime.datetime(2016, 3, 5, 0, 0), 'Chelsea', 'Stoke City',
        '48.7', '51.3', '115', '93', '155', '139', '0', '1', '5', '2', '11',
        '12', '1', '0', '16', '13', '18', '21', '36', '32', '13', '15',
        '20', '22', '17', '18', '4', '4'], dtype=object),
 array([datetime.datetime(2016, 3, 5, 0, 0), 'Southampton', 'Sunderland',
        '65.1', '34.9', '120', '51', '170', '105', '1', '1', '4', '1', '10',
        '7', '1', '1', '11', '6', '10', '12', '19', '22', '33', '29', '45',
        '43', '14', '14', '4', '7'], dtype=object),
 array([datetime.datetime(2016, 3, 5, 0, 0), 'Everton', 'West Ham United',
        '41.5', '58.5', '64', '131', '101', '159', '2', '3', '3', '2', '8',
        '10', '2', '3', '7', '14', '19', '23', '26', '33', '28', '19', '35',
        '29', '15', '16', '5', '5'], dtype=object),
 array([datetime.datetime(2016, 3, 5, 0, 0), 'Watford', 'Leicester City',
        '50.2', '49.8', '65', '85', '108', '136', '0', '1', '3', '3', '6',
        '10', '0', '0', '8', '10', '27', '26', '39', '39', '21', '23', '25',
        '28', '23', '20', '1', '3'], dtype=object),
 array([datetime.datetime(2016, 3, 2, 0, 0), 'Arsenal', 'Swansea City',
        '62.6', '37.4', '170', '66', '220', '96', '1', '1', '2', '0', '12',
        '3', '1', '1', '14', '9', '28', '19', '37', '32', '9', '27', '18',
        '37', '17', '9', '4', '6'], dtype=object),
 array([datetime.datetime(2016, 3, 2, 0, 0), 'West Ham United',
        'Tottenham Hotspur', '34.9', '65.1', '69', '98', '130', '154', '1',
        '0', '0', '1', '5', '4', '1', '0', '10', '8', '19', '32', '23',
        '43', '23', '16', '34', '22', '29', '17', '1', '5'], dtype=object),
 array([datetime.datetime(2016, 3, 2, 0, 0), 'Stoke City',
        'Newcastle United', '55.3', '44.7', '97', '65', '140', '109', '0',
        '0', '1', '2', '3', '4', '1', '0', '9', '4', '29', '18', '43', '27',
        '20', '22', '29', '31', '16', '16', '1', '2'], dtype=object),
 array([datetime.datetime(2016, 3, 2, 0, 0), 'Liverpool', 'Manchester City',
        '49.5', '50.5', '122', '101', '179', '152', '2', '0', '1', '0', '4',
        '2', '3', '0', '9', '4', '34', '27', '53', '40', '20', '26', '24',
        '29', '22', '19', '1', '1'], dtype=object),
 array([datetime.datetime(2016, 3, 2, 0, 0), 'Manchester United', 'Watford',
        '61.2', '38.8', '113', '50', '150', '102', '0', '0', '1', '2', '6',
        '9', '0', '0', '10', '8', '21', '26', '30', '43', '6', '19', '10',
        '26', '21', '16', '4', '5'], dtype=object),
 array([datetime.datetime(2016, 3, 1, 0, 0), 'Norwich City', 'Chelsea',
        '47.0', '53.0', '125', '110', '186', '146', '1', '1', '1', '0', '7',
        '7', '1', '2', '10', '10', '13', '22', '26', '37', '16', '20', '19',
        '33', '16', '19', '4', '3'], dtype=object),
 array([datetime.datetime(2016, 3, 1, 0, 0), 'Sunderland', 'Crystal Palace',
        '59.2', '40.8', '86', '57', '139', '101', '1', '2', '1', '3', '6',
        '12', '2', '1', '13', '11', '17', '13', '27', '22', '16', '20',
        '23', '26', '14', '19', '4', '4'], dtype=object),
 array([datetime.datetime(2016, 3, 1, 0, 0), 'Aston Villa', 'Everton',
        '46.8', '53.2', '113', '81', '157', '112', '1', '3', '1', '3', '7',
        '9', '1', '3', '11', '8', '19', '20', '25', '29', '16', '35', '20',
        '47', '17', '10', '3', '5'], dtype=object),
 array([datetime.datetime(2016, 3, 1, 0, 0), 'Bournemouth', 'Southampton',
        '45.4', '54.6', '86', '77', '124', '129', '2', '0', '1', '1', '4',
        '4', '1', '0', '6', '6', '12', '13', '18', '20', '26', '31', '33',
        '43', '10', '9', '2', '3'], dtype=object),
 array([datetime.datetime(2016, 3, 1, 0, 0), 'Leicester City',
        'West Bromwich Albion', '65.0', '35.0', '110', '41', '165', '95',
        '1', '1', '3', '1', '16', '5', '1', '1', '13', '7', '23', '14',
        '30', '25', '12', '30', '17', '48', '25', '24', '2', '6'], dtype=object),
 array([datetime.datetime(2016, 2, 28, 0, 0), 'Manchester United',
        'Arsenal', '38.9', '61.1', '80', '117', '107', '167', '2', '2', '0',
        '3', '3', '10', '2', '1', '3', '8', '24', '14', '35', '20', '24',
        '12', '30', '20', '15', '17', '3', '1'], dtype=object),
 array([datetime.datetime(2016, 2, 28, 0, 0), 'Tottenham Hotspur',
        'Swansea City', '57.2', '42.8', '136', '38', '198', '80', '2', '1',
        '6', '2', '19', '4', '0', '0', '22', '5', '11', '18', '14', '23',
        '19', '38', '26', '52', '21', '19', '3', '6'], dtype=object),
 array([datetime.datetime(2016, 2, 27, 0, 0), 'West Ham United',
        'Sunderland', '52.8', '47.2', '90', '56', '145', '114', '1', '0',
        '0', '3', '5', '6', '0', '0', '5', '9', '17', '26', '24', '39',
        '16', '20', '25', '29', '23', '15', '3', '0'], dtype=object),
 array([datetime.datetime(2016, 2, 27, 0, 0), 'Stoke City', 'Aston Villa',
        '55.3', '44.7', '97', '95', '149', '138', '2', '1', '0', '0', '7',
        '3', '1', '1', '8', '3', '10', '15', '15', '24', '16', '20', '20',
        '41', '16', '20', '0', '2'], dtype=object),
 array([datetime.datetime(2016, 2, 27, 0, 0), 'Watford', 'Bournemouth',
        '47.2', '52.8', '65', '72', '116', '115', '0', '0', '1', '2', '6',
        '6', '0', '0', '8', '7', '14', '20', '27', '29', '21', '36', '28',
        '43', '16', '12', '4', '4'], dtype=object),
 array([datetime.datetime(2016, 2, 27, 0, 0), 'Southampton', 'Chelsea',
        '34.6', '65.4', '62', '226', '110', '267', '1', '2', '0', '0', '2',
        '7', '0', '2', '6', '14', '14', '13', '29', '17', '22', '26', '34',
        '34', '18', '7', '3', '2'], dtype=object),
 array([datetime.datetime(2016, 2, 27, 0, 0), 'Leicester City',
        'Norwich City', '58.8', '41.2', '100', '78', '160', '134', '1', '0',
        '0', '1', '6', '5', '0', '0', '9', '9', '14', '17', '22', '27', '6',
        '47', '13', '60', '18', '14', '3', '4'], dtype=object),
 array([datetime.datetime(2016, 2, 27, 0, 0), 'West Bromwich Albion',
        'Crystal Palace', '46.1', '53.9', '94', '73', '138', '112', '3',
        '2', '2', '0', '7', '11', '2', '1', '7', '8', '14', '11', '22',
        '20', '31', '10', '37', '18', '10', '14', '5', '1'], dtype=object),
 array([datetime.datetime(2016, 2, 14, 0, 0), 'Arsenal', 'Leicester City',
        '72.1', '27.9', '234', '52', '284', '96', '2', '1', '4', '1', '22',
        '3', '2', '0', '19', '6', '17', '37', '26', '53', '12', '25', '18',
        '39', '15', '26', '0', '6'], dtype=object),
 array([datetime.datetime(2016, 2, 14, 0, 0), 'Aston Villa', 'Liverpool',
        '39.3', '60.7', '73', '130', '107', '181', '0', '3', '1', '3', '3',
        '7', '0', '4', '5', '7', '19', '24', '28', '34', '17', '12', '24',
        '17', '34', '20', '1', '1'], dtype=object),
 array([datetime.datetime(2016, 2, 14, 0, 0), 'Manchester City',
        'Tottenham Hotspur', '46.0', '54.0', '128', '92', '185', '136', '1',
        '2', '1', '0', '14', '3', '1', '1', '12', '3', '26', '33', '40',
        '45', '22', '25', '27', '39', '18', '16', '1', '8'], dtype=object),
 array([datetime.datetime(2016, 2, 13, 0, 0), 'Sunderland',
        'Manchester United', '34.1', '65.9', '48', '139', '96', '174', '0',
        '1', '2', '3', '12', '8', '0', '0', '11', '9', '16', '17', '21',
        '24', '34', '16', '46', '21', '22', '14', '5', '7'], dtype=object),
 array([datetime.datetime(2016, 2, 13, 0, 0), 'Swansea City', 'Southampton',
        '54.4', '45.6', '92', '77', '150', '123', '0', '1', '1', '2', '7',
        '7', '0', '1', '9', '12', '11', '11', '13', '14', '24', '48', '30',
        '64', '21', '16', '5', '3'], dtype=object),
 array([datetime.datetime(2016, 2, 13, 0, 0), 'Bournemouth', 'Stoke City',
        '65.2', '34.8', '135', '48', '188', '81', '1', '1', '1', '1', '7',
        '4', '1', '2', '7', '7', '15', '16', '23', '23', '8', '22', '11',
        '35', '11', '25', '1', '5'], dtype=object),
 array([datetime.datetime(2016, 2, 13, 0, 0), 'Crystal Palace', 'Watford',
        '53.9', '46.1', '75', '77', '120', '129', '1', '2', '1', '2', '5',
        '5', '1', '0', '8', '7', '18', '30', '25', '43', '21', '26', '26',
        '39', '18', '22', '2', '2'], dtype=object),
 array([datetime.datetime(2016, 2, 13, 0, 0), 'Everton',
        'West Bromwich Albion', '75.9', '24.1', '243', '40', '304', '70',
        '0', '1', '3', '0', '16', '4', '0', '1', '25', '5', '14', '17',
        '20', '32', '15', '52', '18', '70', '12', '16', '1', '15'], dtype=object),
 array([datetime.datetime(2016, 2, 13, 0, 0), 'Norwich City',
        'West Ham United', '48.4', '51.6', '92', '91', '150', '133', '1',
        '1', '1', '3', '6', '6', '0', '1', '6', '6', '21', '14', '36', '23',
        '21', '18', '28', '26', '10', '23', '0', '3'], dtype=object),
 array([datetime.datetime(2016, 2, 13, 0, 0), 'Chelsea', 'Newcastle United',
        '54.9', '45.1', '140', '58', '189', '77', '4', '0', '0', '1', '7',
        '5', '4', '1', '11', '7', '21', '14', '28', '22', '12', '15', '21',
        '16', '12', '23', '5', '3'], dtype=object),
 array([datetime.datetime(2016, 2, 7, 0, 0), 'Bournemouth', 'Arsenal',
        '50.7', '49.3', '114', '98', '154', '144', '0', '2', '2', '3', '6',
        '6', '0', '2', '12', '8', '22', '19', '29', '30', '20', '23', '25',
        '37', '19', '26', '3', '6'], dtype=object),
 array([datetime.datetime(2016, 2, 7, 0, 0), 'Chelsea', 'Manchester United',
        '49.3', '50.7', '107', '119', '156', '154', '1', '1', '4', '2',
        '12', '9', '0', '1', '12', '13', '23', '20', '34', '32', '15', '20',
        '32', '36', '8', '13', '3', '5'], dtype=object),
 array([datetime.datetime(2016, 2, 6, 0, 0), 'Manchester City',
        'Leicester City', '65.9', '34.1', '217', '55', '259', '105', '1',
        '3', '2', '3', '16', '12', '1', '3', '17', '12', '14', '27', '28',
        '39', '24', '24', '31', '41', '21', '18', '2', '6'], dtype=object),
 array([datetime.datetime(2016, 2, 6, 0, 0), 'Swansea City',
        'Crystal Palace', '58.4', '41.6', '111', '64', '156', '111', '0',
        '1', '0', '0', '11', '7', '0', '1', '10', '10', '25', '22', '35',
        '28', '31', '27', '42', '38', '16', '25', '3', '7'], dtype=object),
 array([datetime.datetime(2016, 2, 6, 0, 0), 'Stoke City', 'Everton',
        '65.5', '34.5', '172', '46', '221', '78', '0', '3', '2', '3', '8',
        '13', '0', '1', '11', '12', '13', '25', '24', '39', '4', '27', '9',
        '42', '15', '14', '5', '4'], dtype=object),
 array([datetime.datetime(2016, 2, 6, 0, 0), 'Aston Villa', 'Norwich City',
        '48.3', '51.7', '87', '91', '133', '152', '1', '0', '0', '1', '7',
        '9', '1', '0', '8', '11', '16', '20', '21', '27', '25', '22', '43',
        '29', '21', '8', '5', '3'], dtype=object),
 array([datetime.datetime(2016, 2, 6, 0, 0), 'Liverpool', 'Sunderland',
        '71.3', '28.7', '166', '42', '244', '88', '2', '1', '3', '0', '9',
        '2', '2', '1', '14', '6', '16', '19', '19', '34', '7', '31', '12',
        '52', '13', '16', '1', '4'], dtype=object),
 array([datetime.datetime(2016, 2, 6, 0, 0), 'Tottenham Hotspur', 'Watford',
        '65.9', '34.1', '139', '42', '196', '81', '1', '0', '7', '0', '19',
        '1', '1', '0', '21', '2', '14', '23', '22', '40', '14', '32', '19',
        '43', '21', '27', '1', '8'], dtype=object),
 array([datetime.datetime(2016, 2, 6, 0, 0), 'Newcastle United',
        'West Bromwich Albion', '68.9', '31.1', '96', '35', '139', '71',
        '0', '0', '3', '0', '9', '3', '1', '0', '14', '3', '13', '18', '14',
        '29', '11', '22', '12', '30', '20', '29', '4', '7'], dtype=object),
 array([datetime.datetime(2016, 2, 6, 0, 0), 'Southampton',
        'West Ham United', '35.2', '64.8', '49', '109', '83', '148', '1',
        '0', '1', '2', '7', '10', '1', '0', '6', '14', '19', '19', '26',
        '21', '40', '21', '50', '24', '17', '5', '10', '2'], dtype=object),

In [160]:
def getTempMatch():
    
    tot_links = ['/statszone/8-2015/matches/803167',
                 '/statszone/8-2015/matches/803170',
                 '/statszone/8-2015/matches/803168']
                 
    baseurl = 'http://www.fourfourtwo.com'
    dates = []
    h_names = []
    a_names =[]
    posses = []
    h_atks = []
    a_atks=[]
    h_ins=[]
    a_ins=[]
    print("start working")
    for indx, link in enumerate(tot_links):
        clear_output()
        print("task: {}/{}".format(indx,len(tot_links)))
        sys.stdout.flush()
        try:
            date ,homeName, awayName ,poss, h_atkThird, a_atkThird, h_interception,a_interception = grapMatchInfo(baseurl + link)
            print("{} {} {}".format(date,homeName,awayName))
            dates.append(date)
            h_names.append(homeName)
            a_names.append(awayName)
            posses.append(poss)
            h_atks.append(h_atkThird)
            a_atks.append(a_atkThird)
            h_ins.append(h_interception)
            a_ins.append(a_interception)
        except Exception as e:
            print(e)
            print("error")
            break
            
        print("finish")
    
 
    return dates,h_names,a_names,posses,h_atks,a_atks,h_ins,a_ins

In [8]:

df = pd.DataFrame(results, columns=n_header)

In [9]:
df.sort(columns="Date",ascending=False)

/home/y/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Date,HomeTeam,AwayTeam,H_poss,A_poss,H_atk_3rd,A_atk_3rd,H_atk_3rd_tot,A_atk_3rd_tot,H_red_goal,...,H_tackle_tot,A_tackle_tot,H_successful_clearance,A_successful_clearance,H_clearance_tot,A_clearance_tot,H_interceptions,A_interceptions,H_blocks,A_blocks
0,2016-04-02,Aston Villa,Chelsea,41.4,58.6,101,83,136,119,0,...,32,31,9,14,15,23,21,8,0,4
5,2016-04-02,Arsenal,Watford,69.1,30.9,238,56,284,99,4,...,17,27,21,20,30,27,25,19,2,3
7,2016-04-02,Liverpool,Tottenham Hotspur,42.2,57.8,77,89,116,146,1,...,48,24,22,22,29,34,22,20,6,6
6,2016-04-02,Sunderland,West Bromwich Albion,56.5,43.5,101,51,159,105,0,...,24,24,37,23,48,36,14,19,1,6
1,2016-04-02,West Ham United,Crystal Palace,66.4,33.6,75,41,118,81,1,...,21,34,25,17,34,23,9,14,3,6
4,2016-04-02,Stoke City,Swansea City,47.2,52.8,75,86,125,125,1,...,24,19,18,18,26,26,18,16,4,2
3,2016-04-02,Norwich City,Newcastle United,41.3,58.7,81,93,132,131,3,...,16,17,20,22,31,33,5,12,1,2
2,2016-04-02,Bournemouth,Manchester City,45.8,54.2,77,145,110,187,0,...,32,38,15,10,20,16,17,15,0,3
8,2016-03-20,Southampton,Liverpool,49.2,50.8,114,111,163,164,2,...,32,20,23,21,33,26,22,12,4,5
9,2016-03-20,Newcastle United,Sunderland,59.9,40.1,74,72,116,124,1,...,35,40,25,23,31,38,9,6,3,3
11,2016-03-20,Manchester City,Manchester United,54.5,45.5,134,68,175,105,0,...,35,46,22,16,30,25,24,17,1,5
10,2016-03-20,Tottenham Hotspur,Bournemouth,62.8,37.2,108,49,150,78,3,...,40,26,18,26,29,31,15,17,0,2
12,2016-03-19,Everton,Arsenal,53.9,46.1,85,126,138,163,0,...,42,29,11,23,15,38,17,30,4,1
13,2016-03-19,Crystal Palace,Leicester City,55.9,44.1,72,98,123,154,0,...,28,46,18,39,32,52,19,21,2,2
14,2016-03-19,West Bromwich Albion,Norwich City,50.1,49.9,89,72,158,140,0,...,28,26,33,41,38,53,24,6,2,3
15,2016-03-19,Watford,Stoke City,52.1,47.9,88,78,158,126,1,...,27,32,9,29,20,45,18,11,1,1
16,2016-03-19,Chelsea,West Ham United,59.4,40.6,103,58,150,98,1,...,23,35,13,23,19,30,15,18,5,6
17,2016-03-19,Swansea City,Aston Villa,53.8,46.2,83,100,112,149,1,...,33,34,42,18,53,28,25,32,6,3
18,2016-03-14,Leicester City,Newcastle United,49.9,50.1,95,83,133,136,1,...,35,32,16,24,21,30,24,16,5,6
19,2016-03-13,Aston Villa,Tottenham Hotspur,37.8,62.2,72,107,125,146,0,...,31,32,18,26,28,38,29,14,5,4
22,2016-03-12,Bournemouth,Swansea City,44.0,56.0,68,84,111,129,3,...,31,38,23,20,27,26,25,20,1,2
20,2016-03-12,Norwich City,Manchester City,33.9,66.1,67,202,118,255,0,...,38,24,43,32,60,40,13,14,7,1
21,2016-03-12,Stoke City,Southampton,60.6,39.4,109,67,163,108,1,...,30,32,11,36,19,47,10,10,2,3
24,2016-03-06,West Bromwich Albion,Manchester United,46.6,53.4,87,97,152,141,1,...,33,35,19,11,31,21,21,17,3,3
23,2016-03-06,Crystal Palace,Liverpool,38.5,61.5,75,143,129,180,1,...,21,32,14,23,19,36,20,12,8,4
29,2016-03-05,Chelsea,Stoke City,48.7,51.3,115,93,155,139,0,...,36,32,13,15,20,22,17,18,4,4
32,2016-03-05,Watford,Leicester City,50.2,49.8,65,85,108,136,0,...,39,39,21,23,25,28,23,20,1,3
30,2016-03-05,Southampton,Sunderland,65.1,34.9,120,51,170,105,1,...,19,22,33,29,45,43,14,14,4,7
31,2016-03-05,Everton,West Ham United,41.5,58.5,64,131,101,159,2,...,26,33,28,19,35,29,15,16,5,5
28,2016-03-05,Swansea City,Norwich City,55.8,44.2,85,93,128,146,1,...,29,23,32,30,39,40,20,23,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,2015-08-24,Arsenal,Liverpool,66.0,34.0,231,82,290,132,0,...,32,39,22,27,27,41,27,22,3,5
282,2015-08-23,West Bromwich Albion,Chelsea,43.6,56.4,93,121,132,168,2,...,20,15,10,19,16,26,15,9,3,3
283,2015-08-23,Everton,Manchester City,45.3,54.7,80,154,116,194,0,...,31,33,16,17,28,22,11,17,4,4
284,2015-08-23,Watford,Southampton,51.5,48.5,94,86,151,131,0,...,21,26,15,24,16,39,14,28,0,6
288,2015-08-22,Norwich City,Stoke City,42.5,57.5,79,67,120,99,1,...,27,21,19,12,22,19,10,15,1,5
290,2015-08-22,Leicester City,Tottenham Hotspur,33.8,66.2,72,126,103,164,1,...,30,22,12,34,21,43,21,8,4,6
289,2015-08-22,Sunderland,Swansea City,39.3,60.7,36,82,75,117,1,...,35,21,14,23,18,31,14,20,4,3
287,2015-08-22,West Ham United,Bournemouth,45.6,54.4,71,103,131,162,3,...,32,24,11,29,16,38,27,10,2,3
286,2015-08-22,Crystal Palace,Aston Villa,50.3,49.7,97,78,136,106,2,...,24,19,15,22,21,27,11,18,3,3
285,2015-08-22,Manchester United,Newcastle United,69.6,30.4,203,46,248,80,0,...,27,34,19,32,25,45,15,20,3,9
291,2015-08-17,Liverpool,Bournemouth,55.4,44.6,101,90,149,126,1,...,36,34,28,20,39,25,16,14,5,5
292,2015-08-16,Crystal Palace,Arsenal,40.7,59.3,82,171,123,221,0,...,25,36,23,31,40,38,19,12,8,3
293,2015-08-16,Manchester City,Chelsea,49.3,50.7,126,147,157,190,2,...,29,34,18,19,26,29,5,15,3,4
297,2015-08-15,Sunderland,Norwich City,43.9,56.1,35,144,84,199,1,...,46,21,15,33,24,37,17,11,8,1
299,2015-08-15,Watford,West Bromwich Albion,64.7,35.3,133,49,182,88,0,...,19,33,19,31,24,45,21,20,1,2
298,2015-08-15,Tottenham Hotspur,Stoke City,52.9,47.1,58,88,103,132,2,...,25,28,11,12,17,16,16,16,2,4
294,2015-08-15,Southampton,Everton,55.4,44.6,114,93,159,129,0,...,24,19,15,28,22,39,13,16,4,4
296,2015-08-15,Swansea City,Newcastle United,66.1,33.9,125,31,158,59,2,...,26,26,11,13,18,20,16,13,0,7
295,2015-08-15,West Ham United,Leicester City,70.4,29.6,108,56,156,99,1,...,21,34,17,27,23,45,4,16,2,3
300,2015-08-14,Aston Villa,Manchester United,45.5,54.5,52,105,97,143,0,...,27,36,7,31,14,38,19,21,3,1
301,2015-08-10,West Bromwich Albion,Manchester City,31.1,68.9,71,212,98,247,0,...,24,17,15,14,24,22,16,14,10,1
302,2015-08-09,Newcastle United,Southampton,55.9,44.1,92,72,134,115,2,...,20,28,20,23,25,40,15,34,3,3
303,2015-08-09,Arsenal,West Ham United,62.1,37.9,179,46,213,96,0,...,24,43,12,20,20,30,18,12,2,8
304,2015-08-09,Stoke City,Liverpool,46.8,53.2,51,82,96,132,0,...,35,24,12,23,16,36,13,13,4,2
305,2015-08-08,Manchester United,Tottenham Hotspur,50.1,49.9,106,52,143,98,0,...,28,28,24,13,30,20,19,29,3,4
306,2015-08-08,Bournemouth,Aston Villa,59.3,40.7,134,73,184,102,0,...,24,27,13,30,20,44,16,28,2,2
307,2015-08-08,Norwich City,Crystal Palace,62.9,37.1,97,81,141,113,0,...,30,17,23,28,30,35,7,12,2,3
308,2015-08-08,Leicester City,Sunderland,44.3,55.7,67,57,112,91,4,...,24,25,19,13,22,17,18,11,2,4
309,2015-08-08,Everton,Watford,66.7,33.3,128,71,195,117,1,...,25,31,20,42,27,55,11,37,3,2
310,2015-08-08,Chelsea,Swansea City,52.5,47.5,121,75,174,110,0,...,29,36,10,23,17,33,13,12,5,2

In [10]:
df.to_csv('dataSet/match2015.csv',index=False)