In [ ]:
year =2015
teamsListUrl = 'http://app.gooooal.com/competition.do?lid=4&sid={}&pid=6&lang=tr'.format(year)
print(teamsListUrl)

In [ ]:
import urllib.request
teamsRaw =urllib.request.urlopen(teamsListUrl).read()

In [5]:
import re
import numpy as np
import pandas as pd
#panel = re.search('<div class=\"panel\">.*?<script',str(teamsRaw),flags=re.M)
#print(panel.group(0))
content=""
with open('temp.txt','r') as f:
    content= f.read()

reiter = re.finditer('<a href="javascript:toTeam\((.*?),.*?\)">(.*?)</a></td>',str(content),flags=re.M)
res = []
for m in reiter:
    res.append([m.group(1),m.group(2)])

In [6]:
df = pd.DataFrame(res)
df = df.drop_duplicates()
print(df)

       0      1
0    216     曼城
1     52     曼聯
2     61    阿仙奴
3     66     熱刺
4     63    紐卡素
5     60    車路士
6     73    愛華頓
7     53    利物浦
8    275     富咸
9    278    西布朗
10  7145    史雲斯
11   291    諾域治
12    96    新特蘭
13  2297    史篤城
14  3265     韋根
15    70  阿士東維拉
16   296  昆士柏流浪
17   279     保頓
18   281  布力般流浪
19   290     狼隊

In [7]:
df.to_csv("1112.csv",index=False)

In [25]:
df = pd.read_csv('1112.csv').append(pd.read_csv('1213.csv')).append(
    pd.read_csv('1314.csv')).append(pd.read_csv('1415.csv')).append(pd.read_csv('1516.csv')).drop_duplicates()
print(df)
df['1'] = df['1'].map(teamDict) 
print(df)

       0      1
0    216     曼城
1     52     曼聯
2     61    阿仙奴
3     66     熱刺
4     63    紐卡素
5     60    車路士
6     73    愛華頓
7     53    利物浦
8    275     富咸
9    278    西布朗
10  7145    史雲斯
11   291    諾域治
12    96    新特蘭
13  2297    史篤城
14  3265     韋根
15    70  阿士東維拉
16   296  昆士柏流浪
17   279     保頓
18   281  布力般流浪
19   290     狼隊
9     98    韋斯咸
13    94    修咸頓
18  3154     雷丁
10   292    水晶宮
15  3908     侯城
19  2302   卡迪夫城
0     92   李斯特城
12  7146   般尼茅夫
13   276    屈福特
       0               1
0    216        Man City
1     52      Man United
2     61         Arsenal
3     66       Tottenham
4     63       Newcastle
5     60         Chelsea
6     73         Everton
7     53       Liverpool
8    275          Fulham
9    278       West Brom
10  7145         Swansea
11   291         Norwich
12    96      Sunderland
13  2297      Stoke City
14  3265           Wigan
15    70     Aston Villa
16   296             QPR
17   279          Bolton
18   281       Blackburn
19   290          Wolves
9     98        West Ham
13    94     Southampton
18  3154         Reading
10   292  Crystal Palace
15  3908            Hull
19  2302         Cardiff
0     92       Leicester
12  7146     Bournemouth
13   276         Watford

In [22]:
df.to_csv('teamId.csv')

In [24]:
teamMatchUrl = 'http://app.gooooal.com/teamAllMatch.do?sid={}&tid={}&t=0&lang=tr'
teams = df.values
print(teams)

for i in range(teams.shape[0]):
    thisDf = None
    for year in range(2011,2016):
        url = teamMatchUrl.format(year,teams[i,0])
        tdf = pd.read_html(url,attrs={'id':'fb_match_odds_result_table_0_0'},encoding='UTF-8')[0]
        tdf = tdf.drop(df.index[[0]])
        if thisDf is None:
            thisDf=tdf
        else:
            thisDf =thisDf.append(tdf)
    print(teams[i,1])
    thisDf.to_csv("teams/"+teams[i,1]+".csv",index=False)

[[216 'Man City']
 [52 'Man United']
 [61 'Arsenal']
 [66 'Tottenham']
 [63 'Newcastle']
 [60 'Chelsea']
 [73 'Everton']
 [53 'Liverpool']
 [275 'Fulham']
 [278 'West Brom']
 [7145 'Swansea']
 [291 'Norwich']
 [96 'Sunderland']
 [2297 'Stoke City']
 [3265 'Wigan']
 [70 'Aston Villa']
 [296 'QPR']
 [279 'Bolton']
 [281 'Blackburn']
 [290 'Wolves']
 [98 'West Ham']
 [94 'Southampton']
 [3154 'Reading']
 [292 'Crystal Palace']
 [3908 'Hull']
 [2302 'Cardiff']
 [92 'Leicester']
 [7146 'Bournemouth']
 [276 'Watford']]
Man City
Man United
Arsenal
Tottenham
Newcastle
Chelsea
Everton
Liverpool
Fulham
West Brom
Swansea
Norwich
Sunderland
Stoke City
Wigan
Aston Villa
QPR
Bolton
Blackburn
Wolves
West Ham
Southampton
Reading
Crystal Palace
Hull
Cardiff
Leicester
Bournemouth
Watford

In [19]:
temp = pd.read_excel('teamNamesMapping.xlsx',header=None).values

In [20]:
teamDict = {}
for row in temp:
    teamDict[row[0]]=row[1]
 
print(teamDict)

{'水晶宮': 'Crystal Palace', '紐卡素': 'Newcastle', '李斯特城': 'Leicester', '富咸': 'Fulham', '雷丁': 'Reading', '熱刺': 'Tottenham', '新特蘭': 'Sunderland', '史篤城': 'Stoke City', '修咸頓': 'Southampton', '屈福特': 'Watford', '般尼': 'Burnley', '韋斯咸': 'West Ham', '曼聯': 'Man United', '阿仙奴': 'Arsenal', '保頓': 'Bolton', '西布朗': 'West Brom', '狼隊': 'Wolves', '利物浦': 'Liverpool', '般尼茅夫': 'Bournemouth', '車路士': 'Chelsea', '侯城': 'Hull', '昆士柏流浪': 'QPR', '曼城': 'Man City', '諾域治': 'Norwich', '卡迪夫城': 'Cardiff', '韋根': 'Wigan', '布力般流浪': 'Blackburn', '阿士東維拉': 'Aston Villa', '愛華頓': 'Everton', '史雲斯': 'Swansea'}

In [27]:
    teamname = 'Burnley'
    for year in range(2011,2016):
        tid= 280
        url = teamMatchUrl.format(year,tid)
        tdf = pd.read_html(url,attrs={'id':'fb_match_odds_result_table_0_0'},encoding='UTF-8')[0]
        tdf = tdf.drop(tdf.index[[0]])
        if thisDf is None:
            thisDf=tdf
        else:
            thisDf =thisDf.append(tdf)

    thisDf.to_csv("teams/"+teamname+".csv",index=False)